*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1404px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    
}
header{
    width: 100vw;
}
.header img{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 16px;
    max-width:1300px ;
    
}
.header h2{
    color: #D2872C;
    padding-left: 10px;
    font-size:2em;
    cursor: pointer;
}
.header li, a {
    display:inline;
    list-style: none;
    text-decoration: none;
    color: #766F68;
    font-weight: 500;
    padding-right: 20px;
    font-size: 1.2em;

}
.header li, a:hover {
    color: #D2872C;

}
.image img{
    width: 800px;
    position: relative;   
    right: 70px;
    float: right;
    top:100px;
}

 .text{
    color: #766F68;
    padding: 80px;
    padding-left: 150px;
    max-width: 1000px;
   

}
.text h1{
    font-size: 5em;
}
.text h2{
    margin-top: 25px;
    font-size: 1.5em;
    font-weight: 400;
}
.text .button{
    margin-top:50px;
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #D2872C;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
}

@media (max-width:1200px){
    nav ul{
        display: none;
    }
    header{
        
        margin: auto;
    }
    .header{
        margin: auto;
    }

    .header img{
        display: block;
        width: 20px;
    }
    html{
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    .content .image{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        
    }
    
    .content img{

        display: block;
        position: absolute;
        float: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 400px;

    }
    main{
        text-align: center;
    }
    .text{
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    .text h1{
       margin: 0;
       padding: 0;
       font-size: 3em;
    }
    .text h2{
        margin: 0;
       padding: 0;

    }
    .text .button{
        margin-top:50px;
        width: 200px;
        height: 50px;
        color: #fff;
        background-color: #D2872C;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
    }

}